.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    fa-icon {
        font-size: 25px;
        margin: 5px;
        color: grey;
    }
    fa-icon.active {
        color: #333;
    }
}

