.background {
    min-height: 100vh;
    background-image: url("/assets/HalleyAchtergrond.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.mat-drawer-container {
    background-color: rgba(0,0,0,0);
}

.sidenav {
    width: 400px;
    max-width: 100%;
    z-index: 100;
}
