<mat-sidenav-container (backdropClick)="sidenav.close()">

  <mat-sidenav #sidenav class="sidenav" (keydown.escape)="sidenav.close()" [fixedInViewport]="true">
    <!-- <mat-toolbar color="primary">
      <span>{{lang['MENU'] | translate}}</span>
      <span><button mat-button (click)="sidenav.close()">{{lang['Sluiten'] | translate}}</button></span>
    </mat-toolbar> -->
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content class="background">
    <app-top-menu></app-top-menu>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-progress-bar *ngIf="!loading" mode="determinate" value="100"></mat-progress-bar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
<!-- <ngx-scrolltop mode="classic"></ngx-scrolltop> -->
