#face {
	stroke-width: 5px;
    stroke: #000;
    fill: #fff; 
}
#hour, #min {
	stroke-width: 4px;
    stroke-linecap: round;
    stroke: #000;
}
#sec {
	stroke-width: 2px;
    stroke-linecap: round;
    stroke: #888;
}
